// Situación general de Emoji
#emoji
  margin: 20px auto
  height: 48px
  width: 48px

  &__inicial
    @extend #emoji
    height: 75px
    width: 75px

// Distintos emojis dependiendo de la emoción. El chiste es cambiarlos dinámicamente con JS.
=emoji($img)
  background:
    image: url(../img/#{$img}.svg)
    repeat: no-repeat

.sleepy
  +emoji (sleepy)

.poop
  +emoji(poop)

.desesperado
  +emoji(desesperado)

.moco
  +emoji(moco)

.decepcion
  +emoji(decepcion)

.neutral
  +emoji(neutral)

.pxndx
  +emoji(pxndx)

.wink
  +emoji(wink)

.happy
  +emoji(happy)

.grin
  +emoji(grin)

.boss
  +emoji(boss)
