section#trivia
  .contenedor
    .fila.fila--centrada
      h1 Trivia
    .fila.fila--centrada
      h2 Contesta y gana
    .fila.fila--centrada
      h3.pregunta#pregunta
    .fila.fila--centrada
      p.texto#texto

    .fila
      .half
        button#0
      .half
        button#1
    .fila
      .half
        button#2
      .half
        button#3
    .fila
      #emoji
        p Emoji
    .fila
        p#score
    .fila.fila--centrada
        p#msg
footer
  .contenedor
    .fila.fila--centrada
      p Hecho por <a href="http://miguel.click/" target="_blank">@mpalau</a>
