section#trivia
  .contenedor
    .fila.fila--centrada#test
      h1 Trivia de la belleza
      p Haz click en el botón para comenzar
      button#inicio Iniciar
      
footer
  .contenedor
    .fila.fila--centrada
      p Hecho por <a href="http://miguel.click/" target="_blank">@mpalau</a>
