.contenedor#trivia
  h1.centrado Trivia
  ul.flex__centrado
    li 1) Oprime botón
    li 2) Gana trivia
    li 3) Profit
  button INICIAR

  .emoji__inicial.sleepy

footer
  p Hecho por <a href="#">@mpalau</a>
