section#trivia
  .contenedor
    .fila.fila--centrada
      h1 Trivia
    .fila.fila--centrada
      h2 Contesta y gana
    .fila.fila--centrada
      h3.pregunta 01
    .fila.fila--centrada
      p.texto ¿Cuál es la pesadilla #25 de Bella Messi?

    .fila
      .half
        button#1 Zapato Mojado
      .half
        button#2 Tallar Carro
    .fila
      .half
        button#3 Quebrar Diente
      .half
        button#4 Tronar Globo
    .fila
      .emoji.poop
        p Emoji
    .fila
      .score
        p 20/100
    .fila.fila--centrada
      .msg
        p ¡Hasta un manco podría contestar mejor que tú!
footer
  .contenedor
    .fila.fila--centrada
      p Hecho por <a href="http://miguel.click/" target="_blank">@mpalau</a>
